# list
- list is built-in data types in Python used to store collections of data.
- Lists are used to store multiple items in a single variable.
- reprasent with [] and items separated with kama(',')
- List items are ordered
- List items are changeable
- List allow duplicate values
- List items are indexed

In [2]:
# EX:
list1=[1,11.5,True,1+5j,['a','b'],('a','b'),{'a':1,'b':2}]
list1

[1, 11.5, True, (1+5j), ['a', 'b'], ('a', 'b'), {'a': 1, 'b': 2}]

## indexed

In [5]:
#      0   1   2    3          4          +ve index     
list1=[1 , 2 , 3 , 'z' , ['a','b','c']]
#     -5  -4  -3   -2         -1          -ve index

## list item access
- list item access with using index

In [6]:
list1=[1 , 2 , 3 , 'z' , ['a','b','c']]
list1[3]

'z'

In [7]:
list1[-2]

'z'

## slicing / Range of Indexes
- You can specify a range of indexes by specifying where to start and where to end the range.

In [23]:
mylist=[i for i in range(1,11)]
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
mylist[:5]

[1, 2, 3, 4, 5]

In [27]:
mylist[-3::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
mylist[2:5:2]

[3, 5]

## Ordered
- When we say that lists are ordered, it means that the items have a defined order, and that order will not change.
- If you add new items to a list, the new items will be placed at the end of the list.
- Note: 
    - There are some list methods that will change the order, but in general: the order of the items will not change.

## Changeable
- The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

## Allow Duplicates

In [2]:
# Lists allow duplicate values
list2=[1,1,1,1]
list2

[1, 1, 1, 1]

In [5]:
# List items can be of any data type
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

## List Length

In [3]:
# we can find the length of list
list2=['apple',1,False,2.3]
len(list2)

4

## type()

In [7]:
# type check
type([])

list

## type casting
- we can convert other data types in to list

In [13]:
# str to list
s='hai how are you'
list(s)

['h', 'a', 'i', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u']

In [8]:
# tuple to list
tuple1=(1,2,2,3,3,5,7,9)
list(tuple1)

[1, 2, 2, 3, 3, 5, 7, 9]

In [17]:
# set to list
set1={1,2,3,5,5}
list(set1)

[1, 2, 3, 5]

In [20]:
# dict to list(it return dict keys)
num={'k':5,'l':5}
list(num)

['k', 'l']

## Check if Item Exists
- using in operator

In [34]:
mylist=["apple", "banana", "cherry"]
if 'banana' in mylist:
    print('yes')

yes

## Change List Items
- To change the value of a specific item, refer to the index number

In [36]:
mylist=['a','b','c','d']
mylist[0]='A'
mylist

['A', 'b', 'c', 'd']

## Change a Range of Item Values

In [41]:
# range is equal to changing values
mylist=['a','b','c','d']
mylist[0:2]='A','B'
mylist

['A', 'B', 'c', 'd']

### Note: 
- The length of the list will change when the number of items inserted does not match the number of items replaced.

In [42]:
# range is  not equal to changing values
mylist=['a','b','c','d']
mylist[1:3]='A','B','C'
mylist

['a', 'A', 'B', 'C', 'd']

In [45]:
mylist=['a','b','c','d']
mylist[1]='A','B'    # it will take as a tuple
mylist

['a', ('A', 'B'), 'c', 'd']

## Loop Lists
- You can loop through the list items by using a for loop

In [46]:
mylist=['a','b','c','d']
for x in mylist:
    print(x)

a
b
c
d

In [48]:
# Use the range() and len() functions to create a suitable iterable.
mylist=['a','b','c','d']
for x in range(len(mylist)):
    print(mylist[x])

a
b
c
d

In [49]:
# using a while loop to go through all the index numbers
mylist=['a','b','c','d']
i=0
while i<len(mylist):
    print(mylist[i])
    i+=1

a
b
c
d

## Join Lists

In [50]:
# add two list
l1=['a','b','c','d']
l2=[1,2,3]
l3=l1+l2
print(l3)

['a', 'b', 'c', 'd', 1, 2, 3]

In [51]:
# add two list
l1=['a','b','c','d']
l2=[1,2,3]
l3=l2+l1
print(l3)

[1, 2, 3, 'a', 'b', 'c', 'd']

In [52]:
# multiplication
l1=['a','b','c','d']
print(l1*2)

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

## List Methods
1. append() =>Adds an element at the end of the list
2. clear() =>Removes all the elements from the list
3. copy() =>Returns a copy of the list
4. count() =>Returns the number of elements with the specified value
5. extend() =>	Add the elements of a list (or any iterable), to the end of the current list
6. index() =>Returns the index of the first element with the specified value
7. insert() =>Adds an element at the specified position
8. pop()	   =>Removes the element at the specified position
9. remove()	=>Removes the item with the specified value
10. reverse()	=>Reverses the order of the list
11. sort()	=>Sorts the list

## adding items to list
- append()
- extend()
- insert()

### 1. append()

In [55]:
# append
x = ['apple', 'banana', 'cherry']
x.append("orange")
x

['apple', 'banana', 'cherry', 'orange']

### 2.extend()

In [94]:
# extend values must itarable or list
# extend list with list
x = ['a','b','b','c','a','a']
y=['p','y','t','h','o','n']
x.extend(y)
print(x)

['a', 'b', 'b', 'c', 'a', 'a', 'p', 'y', 't', 'h', 'o', 'n']

In [62]:
# extend list with string
x = ['a','b','b','c','a','a']
y='python'
x.extend(y)
print(x)

['a', 'b', 'b', 'c', 'a', 'a', 'p', 'y', 't', 'h', 'o', 'n']

In [85]:
## double braces will take otherwise it will give error
y=list((1,2,3,4))
y

[1, 2, 3, 4]

In [93]:
# extend list with tuple
x = ['a','b','b','c','a','a']
y=list((1,2,3,4))
x.extend(y)
x

['a', 'b', 'b', 'c', 'a', 'a', 1, 2, 3, 4]

### 3.insert()

In [97]:
y=['python','world',True]
y.insert(1,'hello')
y

['python', 'hello', 'world', True]

## Removing items into list
- clear()
- pop()
- remove()

### 1. clear()

In [98]:
# it will clear entair list
x = ['apple', 'banana', 'cherry']
x.clear()
x

[]

### 2.pop()

In [110]:
# it will remove last item and return pop item
x = ['apple', 'banana', 'cherry']
x.pop()

'cherry'

In [113]:
# pop with item index
x = ['apple', 'banana', 'cherry']
y=x.pop(0)
y

'apple'

### 3.remove()

In [116]:
# it remove first occurace of item
x = ['apple', 'banana', 'cherry','apple']
x.remove('apple')
x

['banana', 'cherry', 'apple']

## sorting items / reversing
- sort()
- sorted  (keyword)
- reverse()
- reversed (keyword)

### 1.sort()
- sort by asc or dsc

In [120]:
# sort by acs
x=[1,9,2,4,6,1,8,7]
x.sort()
x

[1, 1, 2, 4, 6, 7, 8, 9]

In [122]:
# sort by desc
x=[1,9,2,4,6,1,8,7]
x.sort(reverse=True)
x

[9, 8, 7, 6, 4, 2, 1, 1]

### 2. reversed

In [136]:
# rversed funtcion is also give same but we need a iterator for printing
x=[1,9,2,4,6,1,8,7]
reversed(x)

In [138]:
x=[1,9,2,4,6,1,8,7]
y=reversed(x)
for i in y:
    print(i)

7
8
1
6
4
2
9
1

### 3.reverse()

In [ ]:
x=[1,9,2,4,6,1,8,7]
x.reverse()

### 4.reversed (keyword)

In [133]:
#reversed is a key word
x=[1,9,2,4,6,1,8,7]
y=reversed(x)
for i in y:
    print(i)

7
8
1
6
4
2
9
1

## other methods

### 1.copy()

In [103]:
# copy list into other variable
x = ['apple', 'banana', 'cherry']
y=x.copy()
y

['apple', 'banana', 'cherry']

### 2.index()

In [95]:
y=['p','y','t','h','o','n']
y.index('h')

3

### 3.count()

In [ ]:
# count of item
x = ['a','b','b','c','a','a']
x.count('a')