# strings

- A string is a sequence of characters.
- string represnt in python with
    1. single quotes      ----       (' _ ')
    2. double quotes      ----       (" _ ")
    3. triple quotes      ----     (""" _ """)

In [1]:
#Example
string1='hello'
string2="python"
string3="""welcome to python """

In [ ]:
# Single Line string
string1='hello'
string2="python"

In [39]:
# Multi_Line String
address="""
python
pythin world
pin:500000
"""
# triple quotes is known as doc string

### 1.string basic funtcions
- type
- len
- max
- min

####  1.1. type
- type() is a keyword used for checking data type

In [23]:
print(type(address))
print(type(string1))
print(type(string2))

<class 'str'>
<class 'str'>
<class 'str'>

#### 1.2. len
- len() is a keyword used for countng the number of character into the given string

In [50]:
s='welcome to python'
len(s)

17

#### Note:
- ASCII- American Standard Code for Information Interchange
- a character encoding standard for electronic communication.
- ASCII values for uppercase letters A-Z is 65-90 and lowercase letters a-z is 97-122.
- ord is a keyword is used to find characters ASSCI value
- chr is a keyword is used to find the caracter for given ASCII value

In [56]:
chr(77)

'M'

In [55]:
ord('k')

107

#### 1.3. max

In [51]:
s='welcome to python'
max(s)

'y'

#### 1.4. min

In [53]:
s='python'
min(s)

'h'

### 2. Operations on string
1. indexing
2. slicing

#### 2.1. indexing 
- The Process of Obtaining Single Character from given str object by passing valid Index is called Indexing.

In [ ]:
#            <<----------- (-ve) index
#       -6 -5 -4 -3 -2 -1   
string=' p  y  t  h  o  n '
#        0  1  2  3  4  5   
#            ------------->> +ve index

- string[0] = 'p' = string[-6]
- string[1] = 'y' =string[-5]
- string[2] = 't' = string[-4]
- string[3] = 'h' = string[-3]
- string[4] = 'o' = string[-2]
- string[5] = 'n' = string[-1]

In [49]:
# index error
string='python'
string[30]

IndexError: string index out of range

#### 2.2. slicing 
- The Process of obtaining Range of Characters or Sub String from given Str object is called Slicing .

In [54]:
s='python'

In [ ]:
#       -6 -5 -4 -3 -2 -1   -ve index
s=' p  y  t  h  o  n '
#        0  1  2  3  4  5   +ve index

- #### Syntax-1: 
    - Strobj[ < start Index > : < stop Index >]

In [53]:
# example
s[1:4]

'yth'

In [55]:
s[-6:-4]

'py'

- #### Syntax-2: 
    - StrObj[< start Index >: ]

In [56]:
s='python'
s[2:]

'thon'

In [57]:
s='hello world'
s[6:]

'world'

- #### Syntax-3: 
    - StrObj[ :< stop Index >]

In [60]:
s='python'
s[:3]

'pyt'

In [62]:
s='hello world'
s[:4]

'hell'

- #### Syntax-4: 
    - StrObj[ : ]

In [63]:
s='hello world'
s[:]

'hello world'

- #### Syntax-5:
    - Strobj[< start >:< stop >:< Step >]

Rules:
1) Here BeginIndex , End Index and Step can either +VE INDEX and -VE INDEX
2) If the value of STEP is +VE then PVM takes the Range of Characters from Begin Index to End Index-1 in Forward Direction provided Begin Index<End Index otherwise we get empty String(' ' )
3) if the value of STEP is -VE then PVM Takes Range of Characters from BeginIndex to End
Index+1 in Backward Direction provided Begin Index > End Index
4) When we are retrieving the data in forward Direction if the EndIndex Value is 0 then we never get any result / outout, we get empty String(' ' )
5) When we are retrieving the data in backward Direction if the EndIndex Value is -1 then we never get any result / outout, we get empty String(' ' )

In [49]:
#Example:
s='PYTHON'
s[0:6:1]

'PYTHON'

In [43]:
s[0:6:2]

'PTO'

In [44]:
s[2:4:1]

'TH'

In [45]:
s[-6: :1]

'PYTHON'

In [46]:
s[:6:1]

'PYTHON'

In [47]:
s[:-2:2]

'PT'

In [48]:
s[0:6:-2]  # it will give empty string, no error

''

### 3.Strings are immutable
- An object is immutable when its state doesn't change after it has been initialized.

In [67]:
# Example
string='python'
string[0]='k' 
                  # TypeError: 'str' object does not support item assignment
                  # so that the strings are immutable

TypeError: 'str' object does not support item assignment

### 4.Looping and counting

In [69]:
# looping
s='python'
for i in s:
    print(i)            # it will looping by the characters of given string

p
y
t
h
o
n

In [73]:
# counting
s='welcome to python'
o_count=0
for i in s:
    if i=='o':
        o_count+=1
o_count

3

### 5.In operator
- The word $in$ is a boolean operator

In [77]:
# ex 
s='python'
'p' in s

True

In [78]:
# ex
s='python'
'a' in s

False

### 6.mathematical operations in string
- addition
- multiplicion
- subtraction
- division

#### 6.1. Addition (concatination)

In [81]:
# Adding two strings
s1='hello '
s2='welcome to python'
s1+s2

'hello welcome to python'

#### 6.2. multiplicion
- string multiplicition is possible with int only otherwise it give $TypeError$

In [83]:
# ex
s='python'
num=4
s*num

'pythonpythonpythonpython'

In [84]:
s1='hello '
s2='welcome to python'
s1*s2

TypeError: can't multiply sequence by non-int of type 'str'

#### 6.3. subtraction
- subtraction is not possible in strings
- it give $TypeError$

In [85]:
s1='hello '
s2='welcome to python'
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

#### 6.4. division
- division is not possible in strings
- it give $TypeError$

In [87]:
s1='hello '
s2='welcome to python'
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

### 7.string methods
- Python has a set of built-in methods that you can use on strings.
- All string methods returns new values. They do not change the original string.
    - capitalize() / upper() / lower() / casefold()
    - index() / find() / rindex() / rfind()
    - count()
    - replace()
    - startswith() / endswith()
    - strip() / lstrip() / rstrip()
    - split() / join()
    - center() / rjust() / ljust()

#### 7.1.capitalize()
- Return a capitalized version of string. (make the first character have upper case and the rest lower case.)

In [ ]:
# with out methods
s='python'
s1=''

In [105]:
#ex
s='python'
s.capitalize()     # The first character is have upper

'Python'

In [107]:
s='HELLO'
s.capitalize()

'Hello'

#### 7.2.upper()
- Return a upper version of string.(make all the characters have upper case only.)

In [109]:
#ex
s='python'
s.upper()

'PYTHON'

In [110]:
s='hai how are you'
s.upper()

'HAI HOW ARE YOU'

#### 7.3.lower()
- Return a lower version of string.(make all the characters have lower case only.)

In [112]:
s='PYTHON'
s.lower()

'python'

In [113]:
s='PyThON'
s.lower()

'python'

#### 7.4.casefold()
- Return a lower version of string.(make all the characters have lower case only.)

In [119]:
s='PYTHON'
s.casefold()

'python$'

In [115]:
s='hello how are you'
s.casefold()

'hello how are you'

#### lower() vs casefold()
- lower() can converts only ASCII(American Standard Code for Information Interchange) characters to lowercase.
- casefold() can converts both ASCII and non-ASCII/UNICODE characters to lowercase.

In [124]:
a='ß'  # ß is the unicode character
a.lower()

'ß'

In [123]:
a.casefold()

'ss'

#### 7.5.index()
- Searches the string for a specified value and returns the position of where it was found
- It return the lowest index only
- If the searching string characters are not fount it give $ValueError$ 
- syntax
    - strobj.index(sub_str,< start from(int only)>)

In [64]:
# without methods finding index
s='hello how are you'
for i in range(len(s)):
    if s[i]=='o':
        index=i
        break
index

4

In [128]:
s='hello how are you' # first occurence
s.index('o')

4

In [131]:
s.index('o',s.index('o')+1)   # second occurence

7

In [132]:
s.index('p')

ValueError: substring not found

#### 7.6.find()
- Searches the string for a specified value and returns the position of where it was found
- it return the lowest index only
- If the searching string characters are not fount it return $-1$ and not give error
- syntax
    - strobj.index(sub_str,< start from(int only)>)

In [133]:
s='hello how are you' # first occurence
s.find('o')

4

In [134]:
s.find('o',s.index('o')+1)   # second occurence

7

In [135]:
s.find('p')

-1

#### index vs find
- Both are used for finding the sub_string in the main string
- index if the sub_string not find in the main strng it give $ValueError$
- find if the sub_string not find in the main strng it return -1

In [1]:
main_string='python world'
main_string.index('k')

ValueError: substring not found

In [6]:
main_string.find('k')

-1

#### 7.7. rfind()
- Searches the string for a specified value and returns the last position of where it was found

In [14]:
s='hello how are you'
s.rfind('o')

15

#### 7.8. rindex()
- Searches the string for a specified value and returns the last position of where it was found

In [15]:
s='hello how are you'
s.index('o')

4

#### 7.9.replace()
- Returns a string where a specified value is replaced with a specified value
- syntax
    - strobj.replace(< old>,< new >,< count=-1 >)
- by default count=-1 that means replace all the occurances
- if we mention the count that count value of occurances shuld be replaced

In [67]:
# without methods
s='welcome to python world'
s1=''
for i in s:
    if i=='o':
        s1+='e'
    else:
        s1+=i
s1

'welceme te pythen werld'

In [8]:
s='welcome to python world'
s.replace('o','e')              # all 'o' shuld replaced with 'e'

'welceme te pythen werld'

In [10]:
s='welcome to python world'
s.replace('o','e',1)            # first 'o' shuld replaced with 'e'

'welceme to python world'

In [11]:
s='welcome to python world'
s.replace('o','e',2)           # first two 'o's shuld replaced with 'e'

'welceme te python world'

#### 7.10.count()
- Returns the number of times a specified value occurs in a string
- syntax
    - strobj.count(< sub_str >,< count start from >)

In [61]:
# with out method 
s='welcome to python world'
count=0
for i in s:
    if i=='o':
        count+=1
count

4

In [15]:
s='welcome to python world'
s.count('o')

4

In [16]:
s='welcome to python world'
s.count('o',s.index('o')+1)

3

#### 7.11.strip()
- Returns a trimmed version of the string 
- by default it remove bith sides empty space
- if we provide any specific character, it trimmed both sides of those charectors.

In [20]:
s="   python   "
s.strip()

'python'

In [21]:
s='--------python---------'
s.strip('-')

'python'

#### 7.12.rstrip()
- Returns a right trim version of the string
- by default it remove right sides empty space
- if we provide any specific character, it trimme right side of those charectors.

In [22]:
s="   python   "
s.rstrip()

'   python'

In [23]:
s='--------python---------'
s.rstrip('-')

'--------python'

#### 7.13.lstrip()
- Returns a left trim version of the string
- by default it remove left sides empty space
- if we provide any specific character, it trimme left side of those charectors.

In [24]:
s="   python   "
s.lstrip()

'python   '

In [26]:
s='--------python---------'
s.lstrip('-')

'python---------'

#### 7.14. endswith()
- Returns true if the string ends with the specified value

In [30]:
s='welcome to python world'
s.endswith('d')

True

In [31]:
s.endswith('world')

True

In [32]:
s.endswith('wo')

False

#### 7.15. startswith()
- Returns true if the string starts with the specified value

In [33]:
s='welcome to python world'
s.startswith('w')

True

In [34]:
s.startswith('p')

False

#### 7.16. split
- Splits the string at the specified separator, and returns a list
- by defaulte separete with spaces
- if we mention any character separate with that character

In [35]:
s='welcome to python world'
s.split()

['welcome', 'to', 'python', 'world']

In [38]:
s='welcome, to, python, world'
s.split(',')

['welcome', ' to', ' python', ' world']

#### 7.17. rsplit
- Splits the string at the specified separator, and returns a list
- by defaulte separete with spaces
- if we mention any character separate with that character

In [13]:
s='welcome to python world'
s.rsplit()

['welcome', 'to', 'python', 'world']

#### 7.18. join()
- joins the list eliments and return a string

In [41]:
list1=['welcome', ' to', ' python', ' world']
''.join(list1)

'welcome to python world'

In [59]:
list2=['hai','how', 'are', 'you']
s='hello '
s.join(list2)

'haihello howhello arehello you'

#### 7.19. center()
- Returns a centered string
- fill remain charectors with flling charectors
    - strobj.center(width, fillchar=' ')

In [10]:
txt = "banana"
txt.center(30,'=')

'============banana============'

#### 7.20. rjust()
- Returns a left justified version of the string
- syntax
    - strobj.rjust(width, fillchar=' ')

In [11]:
txt = "banana"

x = txt.rjust(20,'=')

print(x)

==============banana

#### 7.21. ljust()
- Returns a left justified version of the string
- syntax
    - strobj.ljust(width, fillchar=' ')

In [12]:
txt = "banana"

x = txt.ljust(20,'=')

print(x)

banana==============