# Tuple
- Tuples are used to store multiple items in a single variable.
- Tuple items can be of any data type.
- A tuple is a collection which is ordered and unchangeable/immutable.
- Tuples are written with round brackets -- ().
- allow duplicate values.
- it is same as list but it is not changable.
- allowed to add tuples to tuples

In [1]:
sample_tuple=(1, 'str',True,[1,2,3,4])
print(sample_tuple)

(1, 'str', True, [1, 2, 3, 4])

### Note: 
- When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.

In [22]:
a=(1)
type(a)
                    # a=(1) and a=1 both are same and save as a int

int

In [24]:
b=1,2,3,4
print(b)
type(b)

(1, 2, 3, 4)

tuple

In [25]:
c=1,
print(c)
type(c)

(1,)

tuple

## Access Tuple Items
- access items with index

In [2]:
#            -4   -3    -2     -1    ==> -ve index
sample_tuple=(1, 'str',True,[1,2,3,4])
#             1    2    3       4    ==> +ve index

In [3]:
sample_tuple[0]

1

In [4]:
sample_tuple[-1]

[1, 2, 3, 4]

## Ordered
-  it means that the items have a defined order, and that order will not change.

## Unchangeable/ immutable

- we cannot change, add or remove items after the tuple has been created.
- but we can chance to change tuple into list

In [29]:
sample_tuple=(1, 'str',True,[1,2,3,4])
sample_tuple.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [44]:
t1.append('k')

AttributeError: 'tuple' object has no attribute 'append'

In [32]:
# converting tuple into list 
t1=(1,2,3,4,5,6)
print(t1)
print(type(t1))   # checking type
l1=list(t1)
print(l1)
print(type(l1))    # checking type

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
[1, 2, 3, 4, 5, 6]
<class 'list'>

## Add tuple to a tuple
- allowed to add tuples to tuples

In [45]:
t1= ("apple", "banana", "cherry")
t2 = ("orange",'kkk')
t3=t1+t2
print(t3)

('apple', 'banana', 'cherry', 'orange', 'kkk')

## Slicing
- we can specify a range of indexes

In [6]:
sample_tuple=(1, 'str',True,[1,2,3,4])
sample_tuple[:2]

(1, 'str')

In [9]:
sample_tuple[-1:-3:-1]

([1, 2, 3, 4], True)

## delete items
- delete items are not supported in tuple.

In [28]:
thistuple = ("apple", "banana", "cherry")
del thistuple[0]
print(thistuple)

TypeError: 'tuple' object doesn't support item deletion

## Unpack Tuples

In [47]:
#  we create a tuple, we normally assign values to it. This is called "packing" a tuple
fruits = ("apple", "banana", "cherry")
fruits

('apple', 'banana', 'cherry')

In [53]:
# we are also allowed to extract the values back into variables. This is called "unpacking"
fruits = ("apple", "banana", "cherry")

(v1,v2,v3) = fruits

print(v1)
print(v2)
print(v3)

apple
banana
cherry

#### Note:
The number of variables must match the number of values in the tuple, if not, you must use an asterisk (*) to collect the remaining values as a list.

In [54]:
fruits = ("apple", "banana", "cherry","mango")
(v1,v2,*v3) = fruits

print(v1)
print(v2)
print(v3)

apple
banana
['cherry', 'mango']

## Loop

In [55]:
# for loop
fruits = ("apple", "banana", "cherry","mango")
for i in fruits:
    print(i)

apple
banana
cherry
mango

In [60]:
# while loop
t1=("apple", "banana", "cherry","mango")
i=0
while i<len(t1):
    print(t1[i])
    i+=1

apple
banana
cherry
mango

## Join Tuples

In [61]:
# using (+)
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [63]:
# using (*)
tuple1 = ("a", "b" , "c")*3
tuple1

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

## Tuple Methods

- len() => it will return length of the items
- sum() => it will return sum of the items (all eliments must numaric)
- count() => Returns the number of times a specified value occurs in a tuple
- index() => Searches the tuple for a specified value and returns the position of where it was found

### len()

In [4]:
t1=('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')
len(t1)

9

### count()

In [5]:
t1=('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')
t1.count('a')              #  it will return counts of 'a'

3

### index()

In [7]:
t1=('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')
t1.index('b')           # return index first occurance 'b'

1

### sum()

In [8]:
t1=(1,2,3,4,5)
sum(t1)

15